@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body, .simple-editor-content {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);

  .dark & {
    --tt-theme-text: var(--tt-gray-dark-900);
  }
}

body, :host, .simple-editor-content {
  font-family: "Inter", sans-serif;
  color: var(--tt-theme-text);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  overscroll-behavior-y: none;
  height: inherit;
  width: inherit;
}

html,
body, :host, .simple-editor-content {
  overscroll-behavior-x: none;
}

html,
body,
#root,
#app, :host, .simple-editor-content {
  height: 100%;
  background-color: var(--tt-bg-color);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.simple-editor-wrapper {
  width: inherit;
  height: inherit;
  overflow: auto;
}

.simple-editor-content {
  /*max-width: 648px;*/
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: table;
  flex-direction: column;
  flex: 1;
  min-height: 45px;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 3rem 3rem 30vh;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1.5rem 30vh;
  }
}

:host {
  display: block;
  height: 100%;
}

.simple-editor-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.simple-editor-content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 45px;
}

.simple-editor-wrapper {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.simple-editor-content .tiptap.ProseMirror.simple-editor {
  height: 100%;
  padding: 0;
  overflow: auto;
}